<body>
    <h1>Daily Bhagavad Gita</h1>
    <h2><%= name_translated %></h2>
    <p>Selected Chapter: <%= chapter_number %></p>
    <p><%= chapter_summary %></p>
    <h2>First sentence of verse <%= verse_number %> </h2>
    <p><%= verse_first_sentence %></p>
</body>